<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/img/APLogo-20-20.png" width="65" class="d-inline-block align-text-buttom">
            #YoProgramo
        </a>
        <form class="d-flex">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-brands fa-facebook-square fa-2xl"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-brands fa-twitter fa-2xl"></i></a>
                </li>

            </ul>
            <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
    </div>
</nav>
