<div class="card mat-card">
    <div class="card-titles">
        <h2>Proyectos</h2>
        <div class="btn-edit"><a href="#" class="btn-right-d"><i class="fa-solid fa-plus"></i><i
            class="fa fa-pen"></i><br>
        <i class="fa-solid fa-trash"></i></a></div>
    </div>
    <div>
        <h2>e-Farmacia</h2>
        <p>Desarrollo de un sitio web de comercio electrónico Front-End basado en Angular de alto tráfico con diseño
            innovador. Totalmente integrado con los sistemas CRM y ERP internos.</p>
        <h2>Sistema de Monitoreo</h2>
        <p>Desarrollo de un sitio Back-End en API Rest con tecnología Spring Boot para proveer datos de monitoreo a
            apps distribuidas en la interface de sistemas de gestión automatizadas.</p>
    </div>
</div>