<div class="card mat-card" id="first-card">
    <div id="profile-background">
        <img 
        src="assets/img/background2.png"
        />
    </div>
    <div id="info" style="padding: 16px;">
        <div id="info-img">
            <img class="profile-image" src="assets/img/profile-photo.jpg" alt="">
        </div>
        <div class="btn-right-1"><a href="#"><i class="fa fa-pen"></i></a></div>
    </div>
    <div id="info-data">
        <div class="info-info">
            <h1>{{miPorfolio.name}}</h1>
            <div id="info-company"> {{miPorfolio.position}}</div>
            <div id="info-contact">
                <span>{{miPorfolio.ubication}}</span>
                <span><a href="#">Información de contacto</a></span>
            </div>
        </div>
        <ul id="info-details">
            <li><a href="#">
                    <img src="assets/img/populorum.jpg" alt="">
                    <h2>Populorum Progressio In.Te.La</h2>
                </a></li> <br />
            <li><a href="#">
                    <img src="assets/img/comercial-7.jpg" alt="">
                    <h2>Esc. Comercial 7 San Marcelino Champagnat</h2>
                </a></li>
        </ul>
    </div>
    <div id="info-actions">
        <button type="button" class="btn btn-primary">Tengo interés en</button>
        <button type="button" class="btn btn-light">Añadir Sección</button>
        <button type="button" class="btn btn-light">Más</button>

    </div>

</div>