<div class="card mat-card">
    <div class="card-titles">
        <h2>Experiencia</h2>
        <div class="btn-edit"><a href="#" class="btn-right-d"><i class="fa-solid fa-plus"></i><i
                    class="fa fa-pen"></i><br>
                <i class="fa-solid fa-trash"></i></a></div>
        <!-- nueva información -->
        <div><img class="img-clas" src="assets/img/nodejs.jpg" width="60" style="padding-right: 1em;" alt=""></div>
        <div class="informacion">

            <h2>Backend Developer</h2>
            <span>pixar -jornada parcial</span>
            <h4>mar 2019 - actualidad- 2 años y 6 meses
            </h4>
            <h4>Jujuy y alrededores, Argentina</h4>
        </div>

        <!-- información educativa -->
        <div class="card-titles">
            <h2>Educación</h2>
            <div class="btn-edit"><a href="#" class="btn-right-d"><i class="fa-solid fa-plus"></i><i
                        class="fa fa-pen"></i><br>
                    <i class="fa-solid fa-trash"></i></a></div>
            <div><img class="img-clas" src="assets/img/populorum.jpg" width="5" style="padding-right: 1em;" alt=""></div>
            <div class="informacion">

                <h2>Populorum Progressio </h2>
                <span>Comunicación Social</span>


                <h4>2013-2015</h4>
            </div>

        </div>
        <div class="btn-edit"><a href="#" class="btn-right-d"><i class="fa-solid fa-plus"></i><i
                    class="fa fa-pen"></i><br>
                <i class="fa-solid fa-trash"></i></a></div>
        <div><img class="img-clas" src="assets/img/comercial-7.jpg" width="5" style="padding-right: 1em;" alt=""></div>
        <div class="informacion">

            <h2>Comercial 7</h2>
            <span>Perito Mercantil</span>


            <h4>2008-2012</h4>
        </div>
    </div>
</div>